# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/
bower_components/

# Debugger output
.vscode/
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Optional lock files
package-lock.json
yarn.lock

# Built files
dist/
build/

# IDE or editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
*.env.local
.env.test
.env.production
coverage/
